{% extends "app_creditos/base.html" %}
{% load static %}
{% block contenido %}
<div class="text-center">
    <h1>Acerca de mí</h1>
</div>
<div class="text-justify">
    <br>
    <h5> Mi nombre es Emiliano Urrutia, tengo 36 años y soy Licenciado en economía. Trabajo en una financiera, con intenciones de
        transformarse en una fintech, llamada Longcred. Estamos atravesando una transformacion digital, desarrolando diferentes sistemas
     de gestión para usuarios externos y una app para créditos digitales. Todo este desarrollo lo realizamos gracias a una alianza con una empresa
     de tecnologia llamada CTL, que realizaron el trabajo justamente con python en Django. De aqui mi interes por este lenguaje y este curso en particular.
     <br>
     <br>
     Es la primera vez que estudio algo relacionado con programación, aunque siempre fui un interesado en el tema.
     <br>
     <br>
     
     </h5>
   
</div>
<div class="text-center">
    <img width="200" height="266" alt="" sizes="(max-width: 78px) 10vw, 78px" src="{% static 'img/emi.jpeg' %}" alt="Logo">
</div>
{% endblock contenido %}