{% extends "app_creditos/base.html" %}

{% block contenido %}
<section>
  <div class="text-center">
    <h1>Listado de clientes</h1>
    <a href="{% url 'crear-clientes' %}">Registrar nuevo cliente</a>
    <br><br>
    <form action="{% url 'buscar-clientes' %}" method="post">
      {% csrf_token %}
      <input type="text" name="busqueda">
      <input type="submit" value="Buscar por DNI">
    </form>
    <br>
    <table class="table">
      <tbody>
        <tr>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Email</th>
        </tr>
        {% for client in clientes %}
        <tr>
          <td>{{ client.apellido }}</td>
          <td>{{ client.nombre }}</td>
          <td>{{ client.dni }}</td>
          <td>{{ client.email }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
 
  </div>
</section>
{% endblock contenido %}
