{% extends "app_creditos/base.html" %}

{% block contenido %}
<section>
  <div class="text-center">
    <h1>Tipos de creditos</h1>
    <a href="{% url 'crear-tipo-credito' %}">Crear tipo de credito Nuevo</a>
    <br><br>
    <form action="{% url 'buscar-tipo-creditos' %}" method="post">
      {% csrf_token %}
      <input type="text" name="busqueda">
      <input type="submit" value="Buscar por nombre">
    </form>
    <br>
    <table class="table">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Tipo de Crédito</th>
          <th>Tasa de Interes %</th>
          <th>Editar</th>
          <th>Eliminar tipo de crédito</th>
        </tr>
        {% for tipo in tipo_creditos %}
        <tr>
          <td>{{ tipo.id }}</td>
          <td>{{ tipo.nombre_credito }}</td>
          <td>{{ tipo.interes }}</td>
          <td>
            <a href="{% url 'editar-tipo-credito' tipo.id %}">Editar</a>
          </td>
          <td>
            <form action="{% url 'eliminar-tipo-credito' tipo.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Borrar"/>
            </form
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock contenido %}
